.header{
    background: #000000;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellowgreen;
}
body{
    background: rgb(0, 0, 0);
    
    background-size: cover;
    background-repeat: no-repeat;
    }
    h5{
        color: red;
      }
      
      .fa-search{
        color:black;
        
      }
      .fa-shopping-cart{
        color: mintcream;
        font-size: 20px;
        background: red;
        text-align: left;
      }
      .topnav{
        overflow: hidden;
        background-color: greenyellow;
      }
      .topnav-right {
float: right;
}
.topnav a {
float: left;
color: black;
font-weight: bold;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}  
.search-container{
text-align: left;
padding-left: 20;
}        
.btn-primary{
background-color: black;
}
.card-deck{
  margin-top: 20px;
}
.card-img-top {
flex-grow: 1;
object-fit:contain;
height: 10vw;
}
.card-body{
flex-grow:0;
padding: 40px;
background-color: yellowgreen;
}
.card-deck{
width:75%
}